<% if logged_in? %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for(@student) do |f| %>
      <%= f.label 'Nome' %>
      <%= f.text_field :name  %>

      <%= f.label 'RG' %>
      <%= f.text_field :rg  %>

      <%= f.label 'Telefone' %>
      <%= f.text_field :phone  %>

      <%= f.label 'Endereço' %>
      <%= f.text_field :address  %>

      <%= f.label 'Nascimento' %>
      <%= f.date_field :birthday  %>

      <%= f.label 'Escolaridade' %>
      <%= f.text_field :scholarity  %>

      <%= f.label 'Responsavel' %>
      <%= f.select(:responsible_id) do %>
        <% Responsible.all.collect.each do |c| -%>
        <%= content_tag(:option, c.name, value: c.id) %>
        <% end %>
      <% end %>


      <% Subject.all.each do |subject| %>
        <%= check_box_tag :subjects_id, subject.id, @student.subjects.include?(subject), :name => 'student[subjects_id][]' -%>
        <%= label_tag :subjects, subject.name %>
      <% end %>

      <%= f.submit('Editar aluno', class: "btn btn-success") %>
    <% end %>
  </div>
</div>
<% else %>
  <%= render 'layouts/nonLogged' %>
<% end %>
