<% if logged_in? %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for(@student) do |f| %>
      <%= f.label 'Nome' %>
      <p><%= f.text_field :name,class: "form-control"  %></p>

      <%= f.label 'RG' %>
      <p><%= f.text_field :rg ,class: "form-control" %></p>

      <%= f.label 'Telefone' %>
      <p><%= f.text_field :phone,class: "form-control"  %></p>

      <%= f.label 'Endereço' %>
      </p><%= f.text_field :address,class: "form-control"  %></p>

      <%= f.label 'Nascimento' %>
      <p><%= f.date_field :birthday,class: "form-control"  %></p>

      <%= f.label 'Escolaridade' %>
      <p><%= f.text_field :scholarity,class: "form-control"  %></p>

      <p>
      <%= f.label 'Responsavel' %>
      <%= f.select(:responsible_id) do %>
        <% Responsible.all.collect.each do |c| -%>
        <%= content_tag(:option, c.name, value: c.id) %>
        <% end %>
      <% end %>
      </p>

      <p><%= f.label 'Matérias'%></p>
      <p><% Subject.all.each do |subject| %>
        <%= check_box_tag :subjects_id, subject.id, @student.subjects.include?(subject), :name => 'student[subjects_id][]' -%>
        <%= label_tag :subjects, subject.name %>
      <% end %>
      </p>

      <%= f.submit('Editar aluno', class: "btn btn-success") %>
    <% end %>
  </div>
</div>
<% else %>
  <%= render 'layouts/nonLogged' %>
<% end %>
