<div class="row">
  <div class="well col-md-8 col-md-offset-2">
  <%= form_tag '/login' do %>
    <form role="form">
      <div class="form-group">

          <label for="email"><%= label_tag "Email" %></label>
          <div class="form-group">
            <p><%= text_field_tag :email %></p>
          </div>

          <label for="senha"><%= label_tag "Senha" %></label>
          <div class="form-group">
            <p><%= password_field_tag :password %></p>
          </div>

          <%= submit_tag 'Login', class: "btn btn-default" %>
    <% end %>
      </div>
    </form>
  </div>
</div>
