<div class="row">
  <div class="well col-md-8 col-md-offset-2">

    <%= form_tag '/login' do %>
      <%= label_tag "Email" %>
      <%= text_field_tag :email %>

      <%= label_tag "Senha" %>
      <%= password_field_tag :password %>

      <%= submit_tag 'Login', class: "btn btn-default" %>
    <% end %>
  </div>
</div>
