<% if logged_in? %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <div class="row">
      <%= render 'errors', obj: @responsible %>
    </div>
    <%= form_for @responsible do |f| %>
      <form role="form">
        <div class="form-group">
          <%= f.label 'Nome' %>
          <p><%= f.text_field :name,class: "form-control"  %></p>

          <%= f.label 'CPF' %>
          <p><%= f.text_field :cpf,class: "form-control"  %></p>

          <%= f.label 'Telefone' %>
          <p><%= f.text_field :phone,class: "form-control"  %></p>

          <%= f.label 'Telefone Trabalho' %>
          <p><%= f.text_field :phone_job,class: "form-control"  %></p>

          <%= f.label 'Endereço' %>
          <p><%= f.text_field :address,class: "form-control"  %></p>

          <%= f.label 'Email' %>
          <p><%= f.email_field :email,class: "form-control"  %></p>

          <%= f.label 'Profissão' %>
          <p><%= f.text_field :profession,class: "form-control"  %></p>

          <%= f.label 'Nascimento' %>
          <p><%= f.date_field :birthday,class: "form-control"  %></p>


          <%= f.submit('Editar responsável', class: "btn btn-success") %>
        </div>
      </form>
    <% end %>
  </div>
</div>
<% else %>
  <%= render 'layouts/nonLogged' %>
<% end %>
