<% if logged_in? %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for @lesson do |f|%>
      <table class="table">
        <th>
          Estudante
        </th>
        <th>
          Falta
        </th>

      <% @selectedStudents.each do |student| %>
            <tr>
              <td width="90%"><%= student.name %> </td>
              <td width="10%"><%= check_box_tag 'student[faults][]', student.id -%></td>
            </tr>
      <% end %>
            </table>
      <div style="display:none"><%= check_box_tag 'student[faults][]', 0, true -%></div>
      <p><%= f.submit('Criar Aula', class: "btn btn-success") %></p>
    <% end %>
  </div>
</div>
<% else %>
  <%= render 'layouts/nonLogged' %>
<% end %>
