<% if logged_in? %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="col-md-12 well">
      <p><%= @lesson.teacher.name  %></p>
      <p><%= @lesson.subject.name  %></p>
      <p><%= @lesson.created_at.strftime("%d/%m/%Y  - %H:%M") %></p>
      <h4>Alunos Presentes:</h4>
      <% @lesson.students.each do |student| %>
        <p><%= student.name %></p>
      <% end %>
      <p><h4>Alunos Faltantes:</h4></p>
      <% @faults.each  do |fault| %>
        <p><%= fault.student.name %></p>
      <% end %>
    </div>
  </div>
<% else %>
  <%= render 'layouts/nonLogged' %>
<% end %>
