<% if logged_in? %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <div class="row">
      <%= render 'errors', obj: @teacher %>
    </div>
    <%= form_for @teacher do |f| %>
      <%= f.label 'Nome' %>
      <%= f.text_field :name  %>

      <%= f.label 'CPF' %>
      <%= f.text_field :cpf  %>

      <%= f.label 'Telefone' %>
      <%= f.text_field :phone  %>

      <%= f.label 'Endereço' %>
      <%= f.text_field :address  %>

      <%= f.label 'Email' %>
      <%= f.email_field :email  %>

      <%= f.label 'Profissão' %>
      <%= f.text_field :profession  %>

      <%= f.label 'Nascimento' %>
      <%= f.date_field :birthday  %>

      <%= f.label 'Senha' %>
      <%= f.password_field :password_digest  %>

      <%= f.submit('Editar voluntário', class: "btn btn-success") %>
    <% end %>
  </div>
</div>
<% else %>
  <%= render 'layouts/nonLogged' %>
<% end %>
