<% if logged_in? %>
<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <div class="row">
      <%= render 'errors', obj: @teacher %>
    </div>
    <%= form_for @teacher do |f| %>
      <%= f.label 'Nome' %>
      <p><%= f.text_field :name,class: "form-control"  %></p>

      <%= f.label 'CPF' %>
      <p><%= f.text_field :cpf,class: "form-control"  %></p>

      <%= f.label 'Telefone' %>
      <p><%= f.text_field :phone,class: "form-control"  %></p>

      <%= f.label 'Endereço' %>
      <p><%= f.text_field :address,class: "form-control"  %></p>

      <%= f.label 'Email' %>
      <p><%= f.email_field :email,class: "form-control"  %></p>

      <%= f.label 'Profissão' %>
      <p><%= f.text_field :profession,class: "form-control"  %></p>

      <%= f.label 'Nascimento' %>
      <p><%= f.date_field :birthday,class: "form-control"  %></p>

      <%= f.label 'Senha' %>
      <p><%= f.password_field :password_digest,class: "form-control"  %></p>

      <%= f.submit('Criar responsável', class: "btn btn-success") %>
    <% end %>
  </div>
</div>
<% else %>
  <%= render 'layouts/nonLogged' %>
<% end %>
